
.canvas{
    display: flex;
    height: 2152px;
    width: 100%; 
}

.sidebar-canvas{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    width: 220px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.sidebar-title{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    line-height: 68px;
    text-align: center;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.list-sidebar ul li{
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 29px;
    padding-left: 10.91%;
    border-bottom: 2px solid lightgray;
    color: #725C5C;
    transition: 0.5s;
}

.list-sidebar ul li:hover{
    padding-left: 30px;
    cursor: pointer;
    background-color: #FDF1EB;
    border-left: solid 5px #EE7A3A;
}

.header{
    background-color: #FDF1EB;
    font-family: 'Quicksand';
    color: #725C5C;

}

.texto-header {
    font-size: 14px;
    margin-right: 50px;
}

h1 {
    font-size: 22px;
}


.btn-container {
    border: 1px solid lightgray;
    border-radius: 3px;
}

.notification{
    position: absolute;
    height: 12px;
    width: 12px;
    background: #F85959;
    border-radius: 10px;
}

.notification-container{
    position: relative;
    bottom: 18px;
    right: 12px;
}

.number{
    position: absolute;
    color: white;
    font-size: 10px;
    font-family: 'Roboto';
    left: 3px;
    top: 1px;
}

.expansion{  
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    padding: 36px 36px;
}

.section-video-canvas{
    display: flex;
}

.section-video{
    height: 100%;
    width: 781px;
}

.orange-title{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: #ED7839;
}

.details-canvas{
    height: 100%;
    width: 100%;
}

.details-btns-canvas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 61px;
}

.details-btns{
    margin-left: 86px;
}

.btn1:hover , .btn2:hover{
    opacity: 0.5;
}

.details-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-left: 80px;
    font-size: 14px;
    font-family: 'Roboto';
    color: #ED7839 ;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.txt:hover{
    text-decoration: underline;
}

.btn1{
    height: 31px;
    width: 120px;
    border-radius: 4px;
    background: #ED7839;
    color: white;
    border: 1px solid lightgray;
}

.btn2{
    width: 43px;
    height: 31px;
    border-radius: 4px;
    background: #ED7839;
    color: white;
    border: 1px solid lightgray;
}

.authors-canvas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 378px;
    border-radius: 4px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 40px;
}

.title-base{
    background-color: #FDF1EB;
    height: 42px;
    width: 100%;
    border-radius: 4px;
    padding: 10px 10px;
    border: 1px solid lightgrey;
}

.authors{
    padding-left: 10px;
    height: 100%;
    font-family: 'Quicksand';
    color: #5C5C5C;
    border: 1px solid #ECECEC;
    height: 395px;
}

.apresentacao {
    padding-top: 20px;
}
#move{
    margin-top: 5px;
}

.bottom{
    opacity: 0.5;
    padding-bottom: 30px;
}

#bolding {
    font-size: 14px;
    color: #5C5C5C;;
    font-weight: 900;
}

.default-title{
    color:#4E4E4E;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand';
}

.resume-canvas{
    width: 100%;
    height: 1460px;
}

.resume {
    height: 100%;
    padding: 10px 15px;
}

.resume-txt{
    height: 1407px;
    font-size: 14px;
    color: #5C5C5C;
    border: 1px solid white;
    font-family: 'Quicksand';
}

.post{
    border: 1px solid lightgrey;
    height: auto;
    padding-left: 10px;
    cursor: pointer;
}

.post p{
    line-height: 20px ;
    margin: 10px 0
}

.discuss-canvas{
    width: 100%;
    height: 1200px;
    border: 1px solid lightgray;
}

.share{
    height: 227px;
    width: 100%;
}

#move2{
    margin-bottom: 20px;
}

#default-font{
    font-family: 'Quicksand';
font-size: 14px;
font-style: normal;
font-weight: 400;

}

.topic-btn{
    height: 32px;
    width: 133px;
    border-radius: 4px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Quicksand';
    color: white;
    position: absolute;
    border: 1px solid lightgray;
}

.topic-btn-box{
    display: flex;
    justify-content: center;

    padding-top: 10px;

}

.comments-canvas{
    width: 1000px;
    height: 508px;
    margin: 0 21px;
    border-top: 1px solid lightgray;
}

.comment1, .comment2{
    width: 1000px;
    height: 148px;
    padding: 17px 24px;
    margin-bottom: 17px ;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.comment2{
    width: 1000px;
    height: 760px;
    padding: 17px 24px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;  
}

.comment-title{
    height: 20px;
    width: 100%;
}

.comment-name{
    height: 75px;
    width: 100%;
}

#comecinho{
    font-family: 'Quicksand';
    font-size: 14px;
    font-weight: 400;
}

.likes{
    height: 22px;
    width: 150px;
}

#orange-dot{
    color: #ED7839;
}

.heart-btn{
    background: #ED7839;
    border: 1px solid lightgray;
    height: 19px;
    width: 27px;
    color: white;
    border-radius: 3px;
}

h5{
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 700;
    color: #ED7839;
}

.names{
    font-family: 'Quicksand';
    font-size: 14px;
    color:#4D4D4D;
    height: 625px;
    width: 100%;
    padding-top: 20px;
}

.names h6{
    font-weight: bold;
    color:#5C5C5C;
}

.name1 , .name3 , .name4 {
    background: #F8F8F8;
}

.name1 , .name2 , .name4{
    height: 131px;
    width: 100%;
    border: 1px solid lightgray;
}

.name3{
    width: 100%;
    height: 184px;
    border: 1px solid lightgray;
}

.as , .cf , .ac{
    position: relative;
    display: flex;
}

.coautor{
    position: absolute;
    right: 0;
    color:#ED7839;
    font-weight: 700;
}








